AWS_ACCESS_KEY_ID=replace-me
AWS_ENDPOINT=replace-me
AWS_REGION=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
AWS_SESSION_TOKEN=replace-me
BINANCE_API_KEY=replace-me
COINMETRICS_API_KEY=replace-me
DATABASE_URL=postgres://topup_service:replace-me@postgres:5432/topup
KRAKEN_API_KEY=replace-me
MIGRATE_DATABASE_URL=postgres://postgres:replace-me@postgres:5432/topup
POSTGRES_PASSWORD=replace-me
RPC_PROVIDER_A_API_KEY=replace-me
RPC_PROVIDER_B_API_KEY=replace-me
TOPUP_ADMIN_KID=replace-me
TOPUP_ADMIN_PUBLIC_KEY=replace-me
TOPUP_APP_PASSWORD=replace-me
TOPUP_RPC_PROVIDER_A_URL=replace-me
TOPUP_RPC_PROVIDER_B_URL=replace-me
WALG_S3_PREFIX=replace-me
